/* Start New Housses */
.discount2 {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  overflow: auto;
  margin-bottom: 25px;
}

.discount2 .image {
  color: black;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
}

.discount2 .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.664);
  z-index: -1;
}

@media (max-width: 991px) {
  .discount2 .image {
    flex-basis: 100%;
  }
}

.discount2 .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  position: relative;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .discount2 .form {
    flex-basis: 100%;
  }
}

.discount2 .form .input {
  display: block;
  width: 48%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}

.discount2 .form textarea.input {
  resize: none;
  height: 200px;
}

.discount2 .form .input:focus {
  outline: none;
}

.discount2 .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}

.discount2 .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}

.discount2 .content {
  text-align: center;
  padding: 0 20px;
  position: absolute;
  top: 11px;
}

.discount2 .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}

.discount2 .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}

.discount2 .content img {
  width: 300px;
  max-width: 100%;
}

/* New Housses */
